/* .poster {
    width: 100%;
    height: 90%;
    overflow: hidden;
} */

.game-card {
    width: 16vw;
    height: 26em;
    margin: 0.5em;
    color: white;
    background-position: center;
    background-size: cover;
    transition: width 0.2s ease;
    position: relative;
}

.title-container{ 
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 16vw;
    font-size: large;
    background-color: black;
    transition: width 0.2s, height 0.2s ease;
    cursor: pointer;
    border-radius: 2px;
}

.hidden-contents {
    color: white;
    opacity: 0;
    font-size: 14px;
    display: none;
}

.button{
    background: gray;
}

/* .game-card:hover {
    width: 17vw;
} */

.title-container:hover{
    height: 40%;
}

.title-container:hover .hidden-contents {
    opacity: 100%;
    transition: opacity 0.2s ease;
    display: block;
}





