.image-col{
    height: 8em;
    width: 8em;
    background-position: center;
    background-size: cover;
}

td {
    border: 2px solid #5c99d1;
}

table, th {
    border: 2px solid #5c99d1;
}

/* table { width: 85rem;} */

